////////////////////
// logo

.logo {
  width: 6rem;
  margin-left: 2cqmin;
}

////////////////////
// search

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100;
    }
  }

  &__button {
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-gray-dark-3);
  }
}

.user-nav {
  // background-color: green;
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-gray-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// .sidebar {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   // height: 80vh;
// }

.side-nav {
  // justify-self: stretch;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
      justify-content: center;
    }
  }

  &__item::before {
    content: "";
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);

    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);

    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 10;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }

  &__item:hover {
    cursor: pointer;
  }
}

.legal {
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 1rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.gallery {
  display: flex;
  // height: 21rem;
  // overflow: hidden;

  &__item {
    flex: 1;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    transition: transform 0.2s;
  }

  &__photo:hover {
    transform: scale(1.1);
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
  // margin-top: -0.5rem;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__icon,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;

    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-gray-dark-1);
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

////////
/// intro
.hotel__content {
  background-color: var(--color-grey-light-2);
  display: flex;
  gap: 3rem;
  padding: 3rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  .intro {
    background-color: #fff;
    padding: 3rem;
    flex: 2;
    box-shadow: var(--shadow-light);

    &__feature {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0;

      border-bottom: 1px solid var(--color-grey-light-2);
    }

    &__feature-item {
      flex: 0 0 50%;
      padding: 0.5rem 0;
      font-size: 1.6rem;
    }

    &__feature-item::before {
      content: ">";
      margin-right: 0.5rem;
      color: var(--color-primary);
    }

    .recommend {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      &__text {
        font-size: 1.4rem;
        margin-right: auto;
      }

      &__photos {
        display: flex;
        align-items: center;
      }

      &__photo {
        height: 5rem;
        width: 5rem;
        border: 5px solid #fff;
        box-sizing: content-box;
        margin-right: -1.8rem;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  .recommend__user {
    width: 100%;
  }

  .user-info {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }

  ////////
  /// comment
  .comments {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    :not(:last-child) {
      margin-bottom: 2rem;
    }

    &__card {
      background-color: #fff;
      padding: 2rem;
      position: relative;
      z-index: 10;
      overflow: hidden;
      box-shadow: var(--shadow-light);

      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }
    }

    &__card::before {
      content: '"';
      font-size: 10rem;
      color: var(--color-grey-light-3);
      position: absolute;
      font-family: sans-serif;
      height: 100%;
      top: -5rem;
      left: 0;
      z-index: 0;
    }

    &__user-rank {
      display: flex;
      align-items: center;
    }

    &__user-info {
      margin-left: 2rem;
      margin-right: auto;
    }

    &__user-name {
      font-size: 1.6rem;
    }

    &__rank-date {
      font-size: 1rem;
      display: block;
    }

    &__rank-rate {
      font-size: 3rem;
      font-weight: 300;
      color: var(--color-primary);
      justify-self: stretch;
    }
  }
}

// .show-more {
//   display: flex;
//   justify-content: center;
//   // align-items: center;
// }

.right-arrow {
  margin-left: 1rem;
}

///////////////
/// call to action
.cta {
  background-color: #fff;
  padding: 3.5rem 0;
  text-align: center;

  &__book-now {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-light)
  );
  color: #fff;

  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
